<h4>{{ _('Another Physical Buttons') }}</h4>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Input Sensor Debounce Time:') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('When a button is pushed, wait for this time for the signal to stabilize.') }}">
            <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: settings.plugins.anotherphysicalbuttons.debounce">
            <span class="add-on">ms</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Heatup Pin:') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('Raspberry Pi GPIO pin for this button (-1 to disable )') }}">
            <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: settings.plugins.anotherphysicalbuttons.heatup_pin">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Disengage Steppers Pin:') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('Raspberry Pi GPIO pin for this button (-1 to disable )') }}">
            <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: settings.plugins.anotherphysicalbuttons.disengage_pin">
        </div>
    </div>
	    <div class="control-group">
        <label class="control-label">{{ _('Home Pin:') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('Raspberry Pi GPIO pin for this button (-1 to disable )') }}">
            <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: settings.plugins.anotherphysicalbuttons.home_pin">
        </div>
    </div>
	    <div class="control-group">
        <label class="control-label">{{ _('Level Bed Pin:') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('Raspberry Pi GPIO pin for this button (-1 to disable )') }}">
            <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: settings.plugins.anotherphysicalbuttons.levelbed_pin">
        </div>
    </div>
	    <div class="control-group">
        <label class="control-label">{{ _('Jog Up Pin:') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('Raspberry Pi GPIO pin for this button (-1 to disable )') }}">
            <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: settings.plugins.anotherphysicalbuttons.up_pin">
        </div>
    </div>
	    <div class="control-group">
        <label class="control-label">{{ _('Pause Pin:') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('Raspberry Pi GPIO pin for this button (-1 to disable )') }}">
            <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: settings.plugins.anotherphysicalbuttons.pause_pin">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Nozzle Temperature:') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('Target nozzle temp') }}">
            <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: settings.plugins.anotherphysicalbuttons.nozzle_temp">
            <span class="add-on">&deg;C</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Bed Temperature:') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('Target bed temp') }}">
            <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: settings.plugins.anotherphysicalbuttons.bed_temp">
            <span class="add-on">&deg;C</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">{{ _('Z Increment:') }}</label>
        <div class="controls" data-toggle="tooltip" title="{{ _('How much to increment z in mm') }}">
            <input type="number" step="any" min="0" class="input-mini text-right" data-bind="value: settings.plugins.anotherphysicalbuttons.z_increment">
            <span class="add-on">mm</span>
        </div>
    </div>      
</form>