include README.md
recursive-include octoprint_AnotherPhysicalButton/templates *
recursive-include octoprint_AnotherPhysicalButton/translations *
recursive-include octoprint_AnotherPhysicalButton/static *
