include README.md
recursive-include octoprint_AnotherPhysicalButtons/templates *
recursive-include octoprint_AnotherPhysicalButtons/translations *
recursive-include octoprint_AnotherPhysicalButtons/static *
