include README.md
recursive-include octoprint_anotherphysicalbuttons/templates *
recursive-include octoprint_anotherphysicalbuttons/translations *
recursive-include octoprint_anotherphysicalbuttons/static *
